<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <!-- link CSS de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
            crossorigin="anonymous">

    <!-- scripts de font-awesome -->
    <script src="https://kit.fontawesome.com/561b65d4e1.js" crossorigin="anonymous"></script>

    <!-- link CSS local -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/style.css') }} ">

</head>
<body>
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/user">
            <img src="{{ url_for('static', filename='image/Youth_Speak_Forum_Logo.png') }}" 
                width="40" height="40" class="d-inline-block align-top" alt="logo" loading="lazy">
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search_post') }}">Posts<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Usuarios</a>
                </li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    +
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('posts') }}">Nuevo Post</a>
                </div>
            </div>

            <div>
                <a href="{{ url_for('logout') }}">
                    <button class="btn btn-outline-primary my-2 my-sm-0" 
                    type="submit" id="nav_entrar">
                    Cerrar Sesion
                    </button>
                </a>
            </div>

        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-secondary alert-dismissible fade show {{ category }}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endwith %}

    {% block content %}

    {% endblock %}

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">&copy; Forum</p>
            </div>
        </div>
    </footer>

    <!-- scripts de bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
            crossorigin="anonymous"></script>

    <!-- link de jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <!-- script local -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    <!-- script Socket Io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

</body>
</html>

